# Selección de los datasets a analizar

## Importación de las librerías a utilizar

### Librerías nativas

In [79]:
import warnings
import os

### Librerías instaladas

In [80]:
import pandas as pd

### Ignorar warnings

In [81]:
warnings.filterwarnings('ignore')

## Extracción del archivo

Ruta absoluta actual de este archivo.

In [82]:
ruta_actual = os.getcwd()

ruta_actual

'c:\\Users\\franc\\Desktop\\Proyecto Individual n°2 Telecomunicaciones\\notebooks'

Ruta absoluta raíz del proyecto.

In [83]:
ruta_del_proyecto = os.path.dirname(
    ruta_actual
    )

ruta_del_proyecto

'c:\\Users\\franc\\Desktop\\Proyecto Individual n°2 Telecomunicaciones'

Ruta absoluta del archivo a importar.

In [84]:
ruta_del_archivo = os.path.join(
    ruta_del_proyecto, 
    'data', 
    'Internet.xlsx'
    )

ruta_del_archivo

'c:\\Users\\franc\\Desktop\\Proyecto Individual n°2 Telecomunicaciones\\data\\Internet.xlsx'

Importación de los datasets guardados en el archivo.

In [85]:
internet_diccionario = pd.read_excel(
    ruta_del_archivo, 
    sheet_name=None
    )

## Visualización del diccionario con los datasets

Se visualiza cada dataset para elegir cuales utilizar para el análisis.

In [86]:
for key in internet_diccionario.keys():
    display(key, internet_diccionario[key])
    display()

'Acc_vel_loc_sinrangos'

,Partido,Localidad,link Indec,Velocidad (Mbps),Provincia,Accesos
0,BUENOS AIRES,25 de Mayo,25 de Mayo,6854100,0.00,1.0
1,BUENOS AIRES,25 de Mayo,25 de Mayo,6854100,0.50,2.0
2,BUENOS AIRES,25 de Mayo,25 de Mayo,6854100,0.75,19.0
3,BUENOS AIRES,25 de Mayo,25 de Mayo,6854100,3.00,85.0
4,BUENOS AIRES,25 de Mayo,25 de Mayo,6854100,3.50,145.0
...,...,...,...,...,...,...
18859,TUCUMAN,Yerba Buena,Yerba Buena - Marcos Paz,90119030,100.00,5779.0
18860,TUCUMAN,Yerba Buena,Yerba Buena - Marcos Paz,90119030,300.00,4570.0
18861,TUCUMAN,Yerba Buena,Yerba Buena - Marcos Paz,90119030,500.00,442.0
18862,TUCUMAN,Yerba Buena,Yerba Buena - Marcos Paz,90119030,600.00,223.0
18863,TUCUMAN,Yerba Buena,Yerba Buena - Marcos Paz,90119030,1000.00,36.0

'Velocidad_sin_Rangos'

        Año  Trimestre     Provincia  Velocidad  Accesos
0      2024          2  BUENOS AIRES       75.0     1062
1      2024          2  BUENOS AIRES       59.0       59
2      2024          2  BUENOS AIRES      480.0        5
3      2024          2  BUENOS AIRES        3.5    41735
4      2024          2  BUENOS AIRES       18.0     1042
...     ...        ...           ...        ...      ...
18879  2017          4       Tucumán       10.1    45241
18880  2017          4       Tucumán       16.0       76
18881  2017          4       Tucumán       20.5    24242
18882  2017          4       Tucumán       31.0     1303
18883  2017          4       Tucumán      155.0     4367

[18884 rows x 5 columns]

'Accesos_tecnologia_localidad'

,Provincia,Partido,Localidad,Tecnologia,Link Indec,Accesos
0,BUENOS AIRES,25 de Mayo,25 de Mayo,ADSL,6854100,755.0
1,BUENOS AIRES,25 de Mayo,25 de Mayo,CABLEMODEM,6854100,4600.0
2,BUENOS AIRES,25 de Mayo,25 de Mayo,FIBRA OPTICA,6854100,2.0
3,BUENOS AIRES,25 de Mayo,25 de Mayo,SATELITAL,6854100,742.0
4,BUENOS AIRES,25 de Mayo,25 de Mayo,WIRELESS,6854100,727.0
...,...,...,...,...,...,...
7748,TUCUMAN,Yerba Buena,Yerba Buena - Marcos Paz,ADSL,90119030,129.0
7749,TUCUMAN,Yerba Buena,Yerba Buena - Marcos Paz,CABLEMODEM,90119030,76.0
7750,TUCUMAN,Yerba Buena,Yerba Buena - Marcos Paz,FIBRA OPTICA,90119030,17950.0
7751,TUCUMAN,Yerba Buena,Yerba Buena - Marcos Paz,Otros,90119030,33.0
7752,TUCUMAN,Yerba Buena,Yerba Buena - Marcos Paz,WIRELESS,90119030,1.0

'Velocidad % por prov'

       Año  Trimestre            Provincia  Mbps (Media de bajada)
0     2024          2         Buenos Aires              157.410000
1     2024          2      Capital Federal              233.010000
2     2024          2            Catamarca               97.380000
3     2024          2                Chaco              107.760000
4     2024          2               Chubut               21.670000
...    ...        ...                  ...                     ...
1003  2014          1           Santa Cruz                3.315991
1004  2014          1             Santa Fe                3.147407
1005  2014          1  Santiago Del Estero                2.949472
1006  2014          1     Tierra Del Fuego                3.446888
1007  2014          1              Tucumán                3.208342

[1008 rows x 4 columns]

'Totales VMD'

     Año  Trimestre  Mbps (Media de bajada)    Trimestre.1
0   2024          2              139.250000   Abr-Jun 2024
1   2024          1              139.150000   Ene-Mar 2024
2   2023          4              139.040000   Oct-Dic 2023
3   2023          3              129.670000  Jul-Sept 2023
4   2023          2              123.950000   Abr-Jun 2023
5   2023          1              110.500000   Ene-Mar 2023
6   2022          4              106.560000   Oct-Dic 2022
7   2022          3               62.460000  Jul-Sept 2022
8   2022          2               58.440000   Abr-Jun 2022
9   2022          1               55.110000   Ene-Mar 2022
10  2021          4               52.340000   Oct-Dic 2021
11  2021          3               48.460000  Jul-Sept 2021
12  2021          2               45.630000   Abr-Jun 2021
13  2021          1               43.110000   Ene-Mar 2021
14  2020          4               42.360000   Oct-Dic 2020
15  2020          3               40.670000  Jul-Sept 2020
16  2020          2               38.320000   Abr-Jun 2020
17  2020          1               37.520000   Ene-Mar 2020
18  2019          4               28.260000   Oct-Dic 2019
19  2019          3               24.180000  Jul-Sept 2019
20  2019          2               20.330000   Abr-Jun 2019
21  2019          1               17.380000   Ene-Mar 2019
22  2018          4               15.950000   Oct-Dic 2018
23  2018          3               15.360000  Jul-Sept 2018
24  2018          2               13.849540   Abr-Jun 2018
25  2018          1               13.221340   Ene-Mar 2018
26  2017          4               12.007626   Oct-Dic 2017
27  2017          3                8.339048  Jul-Sept 2017
28  2017          2                7.159956   Abr-Jun 2017
29  2017          1                6.624079   Ene-Mar 2017
30  2016          4                6.337384   Oct-Dic 2016
31  2016          3                5.938777  Jul-Sept 2016
32  2016          2                5.423531   Abr-Jun 2016
33  2016          1                5.083702   Ene-Mar 2016
34  2015          4                4.990449   Oct-Dic 2015
35  2015          3                4.788911  Jul-Sept 2015
36  2015          2                4.545381   Abr-Jun 2015
37  2015          1                4.350279   Ene-Mar 2015
38  2014          4                4.156888   Oct-Dic 2014
39  2014          3                3.867265  Jul-Sept 2014
40  2014          2                3.758712   Abr-Jun 2014
41  2014          1                3.617127   Ene-Mar 2014

'Totales Accesos Por Tecnología'

,Año,Trimestre,ADSL,Cablemodem,Fibra óptica,Wireless,Otros,Total,Periodo
0,2024,2,733491,5867504,4169958,593197,191957,11556107,Abr-Jun 2024
1,2024,1,774475,5986957,4015101,598682,257941,11633156,Ene-Mar 2024
2,2023,4,836390,6022532,3908183,585760,194796,11547661,Oct-Dic 2023
3,2023,3,897895,6018832,3708718,581436,200027,11406908,Jul-Sept 2023
4,2023,2,1006509,5997149,3463988,581823,202428,11251897,Abr-Jun 2023
5,2023,1,1204417,6002582,3243411,576647,214838,11241895,Ene-Mar 2023
6,2022,4,1315373,6037457,3060575,572969,221740,11208114,Oct-Dic 2022
7,2022,3,1395277,6031970,2871541,557110,235230,11091128,Jul-Sept 2022
8,2022,2,1468333,5979214,2723285,556243,231609,10958684,Abr-Jun 2022
9,2022,1,1533240,6073426,2219533,545814,251996,10624009,Ene-Mar 2022
10,2021,4,1657615,5984240,2072236,523107,252596,10489794,Oct-Dic 2021
11,2021,3,1950631,5826257,1566048,492415,250190,10085541,Jul-Sept 2021
12,2021,2,2018587,5641731,1472246,476968,253552,9863084,Abr-Jun 2021
13,2021,1,2175211,5424782,1362976,434548,250455,9647972,Ene-Mar 2021
14,2020,4,2213949,5371824,1311199,421554,253036,9571562,Oct-Dic 2020
15,2020,3,2263889,5259351,1170879,413259,248821,9356199,Jul-Sept 2020
16,2020,2,2295533,5005115,1106725,376667,247016,9031056,Abr-Jun 2020
17,2020,1,2299457,4903674,1047817,352333,209145,8812426,Ene-Mar 2020
18,2019,4,2414575,4883869,941295,340144,213298,8793181,Oct-Dic 2019
19,2019,3,2909805,4800091,852221,338241,264326,9164684,Jul-Sept 2019
20,2019,2,2990457,4635575,760794,308027,265328,8960181,Abr-Jun 2019
21,2019,1,3132789,4435439,637099,276419,166389,8648135,Ene-Mar 2019
22,2018,4,3329027,4313831,388013,264299,178485,8473655,Oct-Dic 2018
23,2018,3,3521447,4238171,247366,246181,93870,8347035,Jul-Sept 2018
24,2018,2,3557216,4038141,226285,194267,94535,8110444,Abr-Jun 2018
25,2018,1,3574294,3981129,217460,165300,98870,8037053,Ene-Mar 2018
26,2017,4,3584311,3818157,211425,155775,100554,7870222,Oct-Dic 2017
27,2017,3,3622575,3670221,193964,106443,131740,7724943,Jul-Sept 2017
28,2017,2,3723518,3383434,180777,85813,56122,7429664,Abr-Jun 2017
29,2017,1,3708898,3276251,180146,84813,55746,7305854,Ene-Mar 2017
30,2016,4,3722794,3210602,178070,85119,55088,7251673,Oct-Dic 2016
31,2016,3,3776442,3124855,169898,81455,54300,7206950,Jul-Sept 2016
32,2016,2,3782085,3035272,167788,85452,59482,7130079,Abr-Jun 2016
33,2016,1,3792493,2806359,164371,85370,58763,6907356,Ene-Mar 2016
34,2015,4,3803024,2898226,139187,85726,58668,6984831,Oct-Dic 2015
35,2015,3,3788696,2840203,162663,84530,58976,6935068,Jul-Sept 2015
36,2015,2,3767821,2756294,150839,82077,59157,6816188,Abr-Jun 2015
37,2015,1,3756153,2668248,168188,79098,66045,6737732,Ene-Mar 2015
38,2014,4,3764038,2536219,149682,76984,71573,6598496,Oct-Dic 2014
39,2014,3,3714764,2569868,155494,85096,70049,6595271,Jul-Sept 2014
40,2014,2,3708882,2461670,149363,72405,72148,6464468,Abr-Jun 2014
41,2014,1,3697066,2407330,150323,70749,72930,6398398,Ene-Mar 2014

'Accesos Por Tecnología'

,Año,Trimestre,Provincia,ADSL,Cablemodem,Fibra óptica,Wireless,Otros,Total
0,2024,2,Buenos Aires,214055.0,2722466.0,1849476.0,138638.0,64745.0,4989380.0
1,2024,2,Capital Federal,54102.0,1144781.0,230402.0,4493.0,29821.0,1463599.0
2,2024,2,Catamarca,4951.0,10303.0,58355.0,1384.0,81.0,75074.0
3,2024,2,Chaco,9448.0,57935.0,68944.0,8407.0,2358.0,147092.0
4,2024,2,Chubut,25955.0,80704.0,26516.0,31118.0,9930.0,174223.0
...,...,...,...,...,...,...,...,...,...
1004,2014,1,Santiago Del Estero,32567.0,3598.0,19.0,915.0,34.0,37133.0
1005,2014,1,Tierra Del Fuego,21618.0,2837.0,648.0,1.0,2934.0,28038.0
1006,2014,1,Tucumán,129717.0,83.0,121.0,13.0,98.0,130032.0
1007,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1008,*,Los datos provinciales no coinciden a nivel na...,NaN,NaN,NaN,NaN,NaN,NaN,NaN

'Penetración-poblacion'

      Año  Trimestre        Provincia  Accesos por cada 100 hab
0    2024          2     Buenos Aires                 27.430000
1    2024          2  Capital Federal                 47.440000
2    2024          2        Catamarca                 17.500000
3    2024          2            Chaco                 11.780000
4    2024          2           Chubut                 26.460000
..    ...        ...              ...                       ...
995  2014          1         La Rioja                  4.353175
996  2014          1          Mendoza                  8.933318
997  2014          1         Misiones                  6.323161
998  2014          1          Neuquén                 14.882266
999  2014          1        Río Negro                 13.867842

[1000 rows x 4 columns]

'Penetracion-hogares'

      Año  Trimestre        Provincia  Accesos por cada 100 hogares
0    2024          2     Buenos Aires                     79.840000
1    2024          2  Capital Federal                    116.370000
2    2024          2        Catamarca                     68.810000
3    2024          2            Chaco                     44.060000
4    2024          2           Chubut                     86.330000
..    ...        ...              ...                           ...
995  2014          1         La Rioja                     16.294105
996  2014          1          Mendoza                     31.913123
997  2014          1         Misiones                     23.136539
998  2014          1          Neuquén                     49.791605
999  2014          1        Río Negro                     44.913957

[1000 rows x 4 columns]

'Penetracion-totales'

,Año,Trimestre,Accesos por cada 100 hogares,Accesos por cada 100 hab,Periodo
0,2024,2,78.130000,24.570000,Abr-Jun 2024
1,2024,1,78.890000,24.790000,Ene-Mar 2024
2,2023,4,78.560000,24.660000,Oct-Dic 2023
3,2023,3,77.840000,24.410000,Jul-Sept 2023
4,2023,2,77.020000,24.140000,Abr-Jun 2023
5,2023,1,77.200000,24.170000,Ene-Mar 2023
6,2022,4,77.210000,24.150000,Oct-Dic 2022
7,2022,3,76.640000,23.950000,Jul-Sept 2022
8,2022,2,75.965424,23.720442,Abr-Jun 2022
9,2022,1,73.878803,23.049171,Ene-Mar 2022
10,2021,4,73.176397,22.810702,Oct-Dic 2021
11,2021,3,70.578853,21.982550,Jul-Sept 2021
12,2021,2,69.240183,21.547939,Abr-Jun 2021
13,2021,1,67.945876,21.127832,Ene-Mar 2021
14,2020,4,67.622339,21.010192,Oct-Dic 2020
15,2020,3,66.310000,20.590000,Jul-Sept 2020
16,2020,2,64.210003,19.918403,Abr-Jun 2020
17,2020,1,62.856361,19.483265,Ene-Mar 2020
18,2019,4,62.919912,19.487900,Oct-Dic 2019
19,2019,3,65.787985,20.360661,Jul-Sept 2019
20,2019,2,64.530000,19.960000,Abr-Jun 2019
21,2019,1,62.479166,19.307907,Ene-Mar 2019
22,2018,4,61.415807,18.970000,Oct-Dic 2018
23,2018,3,60.690000,18.730000,Jul-Sept 2018
24,2018,2,59.162069,18.240000,Abr-Jun 2018
25,2018,1,58.820000,18.120000,Ene-Mar 2018
26,2017,4,57.782351,17.792977,Oct-Dic 2017
27,2017,3,56.899221,17.509032,Jul-Sept 2017
28,2017,2,54.901191,16.882937,Abr-Jun 2017
29,2017,1,54.162116,16.644565,Ene-Mar 2017
30,2016,4,53.936019,16.564000,Oct-Dic 2016
31,2016,3,53.734186,16.504676,Jul-Sept 2016
32,2016,2,53.342201,16.371351,Abr-Jun 2016
33,2016,1,51.845452,15.901802,Ene-Mar 2016
34,2015,4,52.630888,16.122697,Oct-Dic 2015
35,2015,3,52.459106,16.050289,Jul-Sept 2015
36,2015,2,51.760266,15.817234,Abr-Jun 2015
37,2015,1,51.364586,15.677234,Ene-Mar 2015
38,2014,4,50.499788,15.394677,Oct-Dic 2014
39,2014,3,50.672368,15.428769,Jul-Sept 2014
40,2014,2,49.861428,15.163908,Abr-Jun 2014
41,2014,1,49.545821,15.050104,Ene-Mar 2014

'Totales Accesos por rango'

,Año,Trimestre,Hasta 512 kbps,Entre 512 Kbps y 1 Mbps,Entre 1 Mbps y 6 Mbps,Entre 6 Mbps y 10 Mbps,Entre 10 Mbps y 20 Mbps,Entre 20 Mbps y 30 Mbps,Más de 30 Mbps,OTROS,Total
0,2024,2,28151,67024,840200,911374,662649,348253,8357088,341368,11556107
1,2024,1,28801,69355,866152,950930,672155,353896,8363694,328173,11633156
2,2023,4,29708,71742,900253,978108,697232,350290,8224736,295592,11547661
3,2023,3,30274,80609,945608,998725,720084,350918,8003269,277421,11406908
4,2023,2,30827,79405,963510,1028250,734125,364730,7775095,275955,11251897
5,2023,1,31437,82048,1001553,1060321,729194,357769,7564819,414754,11241895
6,2022,4,31981,85668,1075272,1109421,765015,335573,7410902,394282,11208114
7,2022,3,33013,96727,1161370,1151906,823505,479822,6995750,349035,11091128
8,2022,2,33667,99498,1193090,1197030,856562,485321,6741922,351594,10958684
9,2022,1,34890,104840,1263273,1209148,967508,509830,6336187,198333,10624009
10,2021,4,41262,28521,1413208,1245333,976539,558358,6032322,194251,10489794
11,2021,3,40174,41437,2550229,1095772,710122,536364,4948174,163269,10085541
12,2021,2,40172,42024,2531271,1080279,693277,647401,4661291,167369,9863084
13,2021,1,39487,41674,2593477,1072722,737930,595920,4379965,186797,9647972
14,2020,4,39510,42185,2622638,1073875,786595,582420,4239237,185102,9571562
15,2020,3,41038,44005,2637984,1040017,799350,538567,4053461,201777,9356199
16,2020,2,41038,48690,2651502,1053107,807775,523437,3711499,194008,9031056
17,2020,1,42550,56170,2649819,1022014,814470,532309,3500882,194212,8812426
18,2019,4,38272,28980,2792307,1046128,851619,1004083,2830746,201046,8793181
19,2019,3,241713,80599,3309137,1026859,806466,1141545,2314898,243467,9164684
20,2019,2,202790,95980,3444458,871142,1169632,1250366,1677830,247983,8960181
21,2019,1,166573,195706,3428759,882836,1464748,1244215,1138728,126570,8648135
22,2018,4,138740,201196,3337982,882388,1472634,1688748,599579,152388,8473655
23,2018,3,5675,220589,3401277,859413,1607137,1571692,524777,156475,8347035
24,2018,2,5972,219467,3316868,979416,1905839,1000036,444391,238455,8110444
25,2018,1,7309,215406,3272724,976956,2068087,862010,397977,236584,8037053
26,2017,4,15041,221474,3773159,1005545,1730353,631946,337559,155145,7870222
27,2017,3,19022,217997,4062226,1062810,1592304,353480,245790,0,7553629
28,2017,2,22366,222766,4416065,990281,1342000,231604,98635,0,7323717
29,2017,1,20653,230159,4584534,975027,1129987,210668,47990,0,7199018
30,2016,4,20724,233398,4673339,971094,1038029,169522,38590,0,7144696
31,2016,3,20104,294413,4816081,936533,919208,124564,31022,0,7141925
32,2016,2,44008,384221,5058481,796998,785759,73977,29020,0,7172464
33,2016,1,30428,404810,4944358,762999,641646,27664,23380,0,6835285
34,2015,4,34243,427394,5049640,726740,639011,17568,22170,0,6916766
35,2015,3,35030,455777,5087802,701187,539414,13101,20677,0,6852988
36,2015,2,40723,500175,5138431,645440,432762,10045,18529,0,6786105
37,2015,1,41158,516919,5121423,571620,348102,7643,16347,0,6623212
38,2014,4,44075,554749,5084556,496251,276254,4371,15229,0,6475485
39,2014,3,37430,608018,5153437,373372,182483,507,12424,0,6367671
40,2014,2,41064,656408,5149574,341689,147273,478,12259,0,6348745
41,2014,1,52684,687619,5130294,289182,101127,345,11595,0,6272846

'Accesos por rangos'

,Año,Trimestre,Provincia,HASTA 512 kbps,+ 512 Kbps - 1 Mbps,+ 1 Mbps - 6 Mbps,+ 6 Mbps - 10 Mbps,+ 10 Mbps - 20 Mbps,+ 20 Mbps - 30 Mbps,+ 30 Mbps,OTROS,Total
0,2024,2,Buenos Aires,25287.0,23034.0,222627.0,221660.0,244528.0,106302.0,4020395.0,125547.0,4989380.0
1,2024,2,Capital Federal,518.0,4122.0,24539.0,40296.0,33158.0,5633.0,1355333.0,0.0,1463599.0
2,2024,2,Catamarca,72.0,164.0,2660.0,3093.0,3799.0,1279.0,63954.0,53.0,75074.0
3,2024,2,Chaco,236.0,349.0,14594.0,8336.0,6208.0,6454.0,107707.0,3208.0,147092.0
4,2024,2,Chubut,125.0,1139.0,43699.0,31971.0,22696.0,19827.0,38212.0,16554.0,174223.0
...,...,...,...,...,...,...,...,...,...,...,...,...
995,2014,1,La Rioja,10.0,5111.0,9390.0,1165.0,35.0,0.0,0.0,0.0,15711.0
996,2014,1,Mendoza,35.0,6.0,166655.0,19.0,10.0,6.0,9.0,0.0,166740.0
997,2014,1,Misiones,545.0,14460.0,52852.0,5139.0,958.0,0.0,0.0,0.0,73954.0
998,2014,1,Neuquén,4133.0,987.0,77148.0,84.0,1582.0,2.0,22.0,0.0,83958.0
999,2014,1,Río Negro,4670.0,4618.0,84304.0,73.0,1062.0,1.0,8.0,0.0,94736.0

'Dial-BAf'

       Año  Trimestre            Provincia  Banda ancha fija  Dial up    Total
0     2024          2         Buenos Aires           4983480   5900.0  4989380
1     2024          2      Capital Federal           1461549   2050.0  1463599
2     2024          2            Catamarca             75073      1.0    75074
3     2024          2                Chaco            147087      5.0   147092
4     2024          2               Chubut            173366    857.0   174223
...    ...        ...                  ...               ...      ...      ...
1987  2014          1           Santa Cruz             26304    460.0    26764
1988  2014          1             Santa Fe            506000    612.0   506612
1989  2014          1  Santiago Del Estero             37124      9.0    37133
1990  2014          1     Tierra Del Fuego             27272    766.0    28038
1991  2014          1              Tucumán            129944     88.0   130032

[1992 rows x 6 columns]

'Totales Dial-BAf'

     Año  Trimestre  Banda ancha fija  Dial up     Total        Periodo
0   2024          2          11544314    11793  11556107   Abr-Jun 2024
1   2024          1          11621363    11793  11633156   Ene-Mar 2024
2   2023          4          11535868    11793  11547661   Oct-Dic 2023
3   2023          3          11395115    11793  11406908  Jul-Sept 2023
4   2023          2          11239781    12116  11251897   Abr-Jun 2023
5   2023          1          11229459    12436  11241895   Ene-Mar 2023
6   2022          4          11195668    12446  11208114   Oct-Dic 2022
7   2022          3          11078691    12437  11091128  Jul-Sept 2022
8   2022          2          10946248    12436  10958684   Abr-Jun 2022
9   2022          1          10611390    12619  10624009   Ene-Mar 2022
10  2021          4          10476933    12861  10489794   Oct-Dic 2021
11  2021          3          10075184    10357  10085541  Jul-Sept 2021
12  2021          2           9852702    10382   9863084   Abr-Jun 2021
13  2021          1           9637956    10016   9647972   Ene-Mar 2021
14  2020          4           9561546    10016   9571562   Oct-Dic 2020
15  2020          3           9346183    10016   9356199  Jul-Sept 2020
16  2020          2           9021040    10016   9031056   Abr-Jun 2020
17  2020          1           8802435     9991   8812426   Ene-Mar 2020
18  2019          4           8783053    10128   8793181   Oct-Dic 2019
19  2019          3           9142891    21793   9164684  Jul-Sept 2019
20  2019          2           8938427    21754   8960181   Abr-Jun 2019
21  2019          1           8626323    21812   8648135   Ene-Mar 2019
22  2018          4           8451841    21814   8473655   Oct-Dic 2018
23  2018          3           8320223    26812   8347035  Jul-Sept 2018
24  2018          2           8083533    26911   8110444   Abr-Jun 2018
25  2018          1           8009981    27072   8037053   Ene-Mar 2018
26  2017          4           7842778    27444   7870222   Oct-Dic 2017
27  2017          3           7696594    28349   7724943  Jul-Sept 2017
28  2017          2           7401134    28530   7429664   Abr-Jun 2017
29  2017          1           7277314    28540   7305854   Ene-Mar 2017
30  2016          4           7223128    28545   7251673   Oct-Dic 2016
31  2016          3           7178340    28610   7206950  Jul-Sept 2016
32  2016          2           7097604    32475   7130079   Abr-Jun 2016
33  2016          1           6874704    32652   6907356   Ene-Mar 2016
34  2015          4           6952289    32542   6984831   Oct-Dic 2015
35  2015          3           6902267    32801   6935068  Jul-Sept 2015
36  2015          2           6783279    32909   6816188   Abr-Jun 2015
37  2015          1           6699714    38018   6737732   Ene-Mar 2015
38  2014          4           6559172    39324   6598496   Oct-Dic 2014
39  2014          3           6559264    36007   6595271  Jul-Sept 2014
40  2014          2           6428329    36139   6464468   Abr-Jun 2014
41  2014          1           6362108    36290   6398398   Ene-Mar 2014

'Ingresos '

     Año  Trimestre  Ingresos (miles de pesos)        Periodo
0   2024          2               4.420322e+08   Abr-Jun 2024
1   2024          1               3.461990e+08   Ene-Mar 2024
2   2023          4               1.673760e+08   Oct-Dic 2023
3   2023          3               1.331066e+08  Jul-Sept 2023
4   2023          2               1.180603e+08   Jun-Mar 2023
5   2033          1               1.041350e+08   Ene-Mar 2023
6   2022          4               7.244348e+07   Oct-Dic 2022
7   2022          3               6.408678e+07  Jul-Sept 2022
8   2022          2               6.041950e+07   Abr-Jun 2022
9   2022          1               5.521931e+07   Ene-Mar 2022
10  2021          4               4.546789e+07   Oct-Dic 2021
11  2021          3               4.299994e+07  Jul-Sept 2021
12  2021          2               3.823967e+07   Abr-Jun 2021
13  2021          1               3.667637e+07   Ene-Mar 2021
14  2020          4               3.353970e+07   Oct-Dic 2020
15  2020          3               3.199744e+07  Jul-Sept 2020
16  2020          2               3.210248e+07   Abr-Jun 2020
17  2020          1               2.994622e+07   Ene-Mar 2020
18  2019          4               2.416925e+07   Oct-Dic 2019
19  2019          3               2.165275e+07  Jul-Sept 2019
20  2019          2               2.074312e+07   Abr-Jun 2019
21  2019          1               2.020741e+07   Ene-Mar 2019
22  2018          4               1.663769e+07   Oct-Dic 2018
23  2018          3               1.541098e+07  Jul-Sept 2018
24  2018          2               1.431947e+07   Abr-Jun 2018
25  2018          1               1.317146e+07   Ene-Mar 2018
26  2017          4               1.122613e+07   Oct-Dic 2017
27  2017          3               1.006600e+07  Jul-Sept 2017
28  2017          2               9.678647e+06   Abr-Jun 2017
29  2017          1               8.701201e+06   Ene-Mar 2017
30  2016          4               7.483980e+06   Oct-Dic 2016
31  2016          3               6.912442e+06  Jul-Sept 2016
32  2016          2               6.534241e+06   Abr-Jun 2016
33  2016          1               5.936845e+06   Ene-Mar 2016
34  2015          4               5.376899e+06   Oct-Dic 2015
35  2015          3               5.153739e+06  Jul-Sept 2015
36  2015          2               4.701791e+06   Abr-Jun 2015
37  2015          1               4.876385e+06   Ene-Mar 2015
38  2014          4               3.950441e+06   Oct-Dic 2014
39  2014          3               3.478638e+06  Jul-Sept 2014
40  2014          2               3.270816e+06   Abr-Jun 2014
41  2014          1               2.984054e+06   Ene-Mar 2014

## Selección y visualización de los datasets a analizar mediante EDA

Se seleccionan los siguientes datasets:

In [87]:
seleccionados = [
    'Accesos por rangos', 
    'Accesos Por Tecnología', 
    'Penetracion-hogares'
    ]

Se explica porque se seleccionaron:

In [88]:
explicación = {
    'Accesos por rangos': 'Explicación: quiero saber si la tendencia es hacia mas de 30 Mbps o un rango intermedio', 
    'Accesos Por Tecnología': 'Explicación: quiero saber que tecnologia es la que mas crece.', 
    'Penetracion-hogares': 'Explicación: quiero saber que provincias tienen mas acceso a internet cada 100 hogares.'
}

Se visualizan los datasets y las explicaciones:

In [89]:
for dataset in seleccionados:
    print()
    display(
        dataset, 
        explicación[dataset], 
        internet_diccionario[dataset]
        )
    print()

'Accesos por rangos'

'Explicación: quiero saber si la tendencia es hacia mas de 30 Mbps o un rango intermedio'

,Año,Trimestre,Provincia,HASTA 512 kbps,+ 512 Kbps - 1 Mbps,+ 1 Mbps - 6 Mbps,+ 6 Mbps - 10 Mbps,+ 10 Mbps - 20 Mbps,+ 20 Mbps - 30 Mbps,+ 30 Mbps,OTROS,Total
0,2024,2,Buenos Aires,25287.0,23034.0,222627.0,221660.0,244528.0,106302.0,4020395.0,125547.0,4989380.0
1,2024,2,Capital Federal,518.0,4122.0,24539.0,40296.0,33158.0,5633.0,1355333.0,0.0,1463599.0
2,2024,2,Catamarca,72.0,164.0,2660.0,3093.0,3799.0,1279.0,63954.0,53.0,75074.0
3,2024,2,Chaco,236.0,349.0,14594.0,8336.0,6208.0,6454.0,107707.0,3208.0,147092.0
4,2024,2,Chubut,125.0,1139.0,43699.0,31971.0,22696.0,19827.0,38212.0,16554.0,174223.0
...,...,...,...,...,...,...,...,...,...,...,...,...
995,2014,1,La Rioja,10.0,5111.0,9390.0,1165.0,35.0,0.0,0.0,0.0,15711.0
996,2014,1,Mendoza,35.0,6.0,166655.0,19.0,10.0,6.0,9.0,0.0,166740.0
997,2014,1,Misiones,545.0,14460.0,52852.0,5139.0,958.0,0.0,0.0,0.0,73954.0
998,2014,1,Neuquén,4133.0,987.0,77148.0,84.0,1582.0,2.0,22.0,0.0,83958.0
999,2014,1,Río Negro,4670.0,4618.0,84304.0,73.0,1062.0,1.0,8.0,0.0,94736.0

'Accesos Por Tecnología'

'Explicación: quiero saber que tecnologia es la que mas crece.'

,Año,Trimestre,Provincia,ADSL,Cablemodem,Fibra óptica,Wireless,Otros,Total
0,2024,2,Buenos Aires,214055.0,2722466.0,1849476.0,138638.0,64745.0,4989380.0
1,2024,2,Capital Federal,54102.0,1144781.0,230402.0,4493.0,29821.0,1463599.0
2,2024,2,Catamarca,4951.0,10303.0,58355.0,1384.0,81.0,75074.0
3,2024,2,Chaco,9448.0,57935.0,68944.0,8407.0,2358.0,147092.0
4,2024,2,Chubut,25955.0,80704.0,26516.0,31118.0,9930.0,174223.0
...,...,...,...,...,...,...,...,...,...
1004,2014,1,Santiago Del Estero,32567.0,3598.0,19.0,915.0,34.0,37133.0
1005,2014,1,Tierra Del Fuego,21618.0,2837.0,648.0,1.0,2934.0,28038.0
1006,2014,1,Tucumán,129717.0,83.0,121.0,13.0,98.0,130032.0
1007,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1008,*,Los datos provinciales no coinciden a nivel na...,NaN,NaN,NaN,NaN,NaN,NaN,NaN

'Penetracion-hogares'

'Explicación: quiero saber que provincias tienen mas acceso a internet cada 100 hogares.'

      Año  Trimestre        Provincia  Accesos por cada 100 hogares
0    2024          2     Buenos Aires                     79.840000
1    2024          2  Capital Federal                    116.370000
2    2024          2        Catamarca                     68.810000
3    2024          2            Chaco                     44.060000
4    2024          2           Chubut                     86.330000
..    ...        ...              ...                           ...
995  2014          1         La Rioja                     16.294105
996  2014          1          Mendoza                     31.913123
997  2014          1         Misiones                     23.136539
998  2014          1          Neuquén                     49.791605
999  2014          1        Río Negro                     44.913957

[1000 rows x 4 columns]

## Exportación de los datasets

Ruta actual.

In [90]:
ruta_actual

'c:\\Users\\franc\\Desktop\\Proyecto Individual n°2 Telecomunicaciones\\notebooks'

Ruta del proyecto.

In [91]:
ruta_del_proyecto

'c:\\Users\\franc\\Desktop\\Proyecto Individual n°2 Telecomunicaciones'

### Exportar el dataset 'Accesos por rangos'

Se lo va a exportar a la carpeta data.

In [92]:
ruta_a_exportar = os.path.join(
    ruta_del_proyecto, 
    'data', 
    'accesos_por_rangos.parquet'
    )

ruta_a_exportar

'c:\\Users\\franc\\Desktop\\Proyecto Individual n°2 Telecomunicaciones\\data\\accesos_por_rangos.parquet'

Se lo exporta.

In [93]:
internet_diccionario['Accesos por rangos'].to_parquet(
    ruta_a_exportar, engine='fastparquet')

### Exportar el dataset 'Accesos Por Tecnología'

Se lo va a exportar a la carpeta data.

In [94]:
ruta_a_exportar = os.path.join(
    ruta_del_proyecto, 
    'data', 
    'accesos_por_tecnologia.parquet'
    )

ruta_a_exportar

'c:\\Users\\franc\\Desktop\\Proyecto Individual n°2 Telecomunicaciones\\data\\accesos_por_tecnologia.parquet'

Se va a hacer unas transformaciones para que se pueda exportar.

In [95]:
accesos_por_tecnologia = internet_diccionario['Accesos Por Tecnología']

In [96]:
accesos_por_tecnologia

,Año,Trimestre,Provincia,ADSL,Cablemodem,Fibra óptica,Wireless,Otros,Total
0,2024,2,Buenos Aires,214055.0,2722466.0,1849476.0,138638.0,64745.0,4989380.0
1,2024,2,Capital Federal,54102.0,1144781.0,230402.0,4493.0,29821.0,1463599.0
2,2024,2,Catamarca,4951.0,10303.0,58355.0,1384.0,81.0,75074.0
3,2024,2,Chaco,9448.0,57935.0,68944.0,8407.0,2358.0,147092.0
4,2024,2,Chubut,25955.0,80704.0,26516.0,31118.0,9930.0,174223.0
...,...,...,...,...,...,...,...,...,...
1004,2014,1,Santiago Del Estero,32567.0,3598.0,19.0,915.0,34.0,37133.0
1005,2014,1,Tierra Del Fuego,21618.0,2837.0,648.0,1.0,2934.0,28038.0
1006,2014,1,Tucumán,129717.0,83.0,121.0,13.0,98.0,130032.0
1007,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1008,*,Los datos provinciales no coinciden a nivel na...,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Se eliminan las filas con el valor '2019 *'

In [97]:
accesos_por_tecnologia[accesos_por_tecnologia['Año'] == '2019 *']

,Año,Trimestre,Provincia,ADSL,Cablemodem,Fibra óptica,Wireless,Otros,Total
455,2019 *,3 *,Buenos Aires,1277249.0,2144956.0,425386.0,85572.0,27070.0,3960233.0
456,2019 *,3 *,Capital Federal,300288.0,1080973.0,24900.0,3895.0,31155.0,1441211.0
457,2019 *,3 *,Catamarca,24349.0,5543.0,13.0,244.0,2251.0,32400.0
458,2019 *,3 *,Chaco,50416.0,49156.0,8063.0,5224.0,1592.0,114451.0
459,2019 *,3 *,Chubut,37298.0,27090.0,1917.0,15149.0,7551.0,89005.0
...,...,...,...,...,...,...,...,...,...
522,2019 *,1 *,Santa Cruz,10659.0,4615.0,382.0,6514.0,2735.0,24905.0
523,2019 *,1 *,Santa Fe,340038.0,340344.0,15621.0,23215.0,17860.0,737078.0
524,2019 *,1 *,Santiago Del Estero,25337.0,61547.0,23.0,2847.0,99.0,89853.0
525,2019 *,1 *,Tierra Del Fuego,19789.0,23549.0,1623.0,0.0,1486.0,46447.0
526,2019 *,1 *,Tucumán,159215.0,11670.0,118.0,678.0,321.0,172002.0

In [98]:
indices_a_eliminar = accesos_por_tecnologia[
    accesos_por_tecnologia['Año'] == '2019 *'].index

accesos_por_tecnologia.drop(indices_a_eliminar, inplace=True)

Se elimina la fila con 1008 que tiene un '*'.

In [99]:
accesos_por_tecnologia.drop(1008, inplace=True)

In [100]:
accesos_por_tecnologia

,Año,Trimestre,Provincia,ADSL,Cablemodem,Fibra óptica,Wireless,Otros,Total
0,2024,2,Buenos Aires,214055.0,2722466.0,1849476.0,138638.0,64745.0,4989380.0
1,2024,2,Capital Federal,54102.0,1144781.0,230402.0,4493.0,29821.0,1463599.0
2,2024,2,Catamarca,4951.0,10303.0,58355.0,1384.0,81.0,75074.0
3,2024,2,Chaco,9448.0,57935.0,68944.0,8407.0,2358.0,147092.0
4,2024,2,Chubut,25955.0,80704.0,26516.0,31118.0,9930.0,174223.0
...,...,...,...,...,...,...,...,...,...
1003,2014,1,Santa Fe,322662.0,174296.0,3059.0,5951.0,644.0,506612.0
1004,2014,1,Santiago Del Estero,32567.0,3598.0,19.0,915.0,34.0,37133.0
1005,2014,1,Tierra Del Fuego,21618.0,2837.0,648.0,1.0,2934.0,28038.0
1006,2014,1,Tucumán,129717.0,83.0,121.0,13.0,98.0,130032.0
1007,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [101]:
accesos_por_tecnologia.reset_index(inplace=True, drop=True)

accesos_por_tecnologia

,Año,Trimestre,Provincia,ADSL,Cablemodem,Fibra óptica,Wireless,Otros,Total
0,2024,2,Buenos Aires,214055.0,2722466.0,1849476.0,138638.0,64745.0,4989380.0
1,2024,2,Capital Federal,54102.0,1144781.0,230402.0,4493.0,29821.0,1463599.0
2,2024,2,Catamarca,4951.0,10303.0,58355.0,1384.0,81.0,75074.0
3,2024,2,Chaco,9448.0,57935.0,68944.0,8407.0,2358.0,147092.0
4,2024,2,Chubut,25955.0,80704.0,26516.0,31118.0,9930.0,174223.0
...,...,...,...,...,...,...,...,...,...
931,2014,1,Santa Fe,322662.0,174296.0,3059.0,5951.0,644.0,506612.0
932,2014,1,Santiago Del Estero,32567.0,3598.0,19.0,915.0,34.0,37133.0
933,2014,1,Tierra Del Fuego,21618.0,2837.0,648.0,1.0,2934.0,28038.0
934,2014,1,Tucumán,129717.0,83.0,121.0,13.0,98.0,130032.0
935,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Se lo exporta.

In [102]:
accesos_por_tecnologia.to_parquet(
    ruta_a_exportar, engine='fastparquet')

### Exportar el dataset 'Penetracion-hogares'

Se lo va a exportar a la carpeta data.

In [103]:
ruta_a_exportar = os.path.join(
    ruta_del_proyecto, 
    'data', 
    'penetracion_hogares.parquet'
    )

ruta_a_exportar

'c:\\Users\\franc\\Desktop\\Proyecto Individual n°2 Telecomunicaciones\\data\\penetracion_hogares.parquet'

Se lo exporta.

In [104]:
internet_diccionario['Penetracion-hogares'].to_parquet(
    ruta_a_exportar, engine='fastparquet')